extends layout

block content
    div.container
        h1= title
        button#jsonOne.btn.btn-small.btn-primary(type="button") JSON One
        button#jsonTwo.btn.btn-small.btn-primary(type="button") JSON Two
        button#jsonThree.btn.btn-small.btn-primary(type="button") JSON Three
        input#input(type="file")
        br
        pre#output
