doctype 5
html(lang='en', ng-app='myApp')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content

    |<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
    |<script>window.jQuery || document.write('<script src="js/jquery-2.0.1.min.js"><\/script>')</script>    

    script(src='js/main.js')

    //script(src='lib/angular/angular.js')
    //script(src='socket.io/socket.io.js')    
    //script(src='js/app.js')
    //script(src='js/services.js')
    //script(src='js/controllers.js')
    //script(src='js/filters.js')
    //script(src='js/directives.js')